<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="${title}">Page Title</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body layout:fragment="content" class="form-signin mx-auto mt-5" style="width: 300px;">
	<div class="d-flex justify-content-between">
		<h1 class="h3 mb-3 fw-normal" th:text="${message}">message</h1>
		<a class="btn btn-info fs-5" th:href="@{/}">🏠</a>
	</div>
	<form th:action="@{/users/register}" th:object="${user}" method="post">
		<!-- user.username -->
		<div class="form-floating">
			<input class="form-control" type="text" id="username" name="username" th:field="*{username}"
				placeholder="username" required>
			<label for="username">Username</label>
		</div>
		<!-- user.email -->
		<div class="form-floating">
			<input class="form-control" type="email" id="email" name="email" th:field="*{email}" placeholder="Email"
				required>
			<label for="email">Email</label>
		</div>
		<!-- user.password -->
		<div class="form-floating">
			<input class="form-control" type="password" id="password" name="password" th:field="*{password}"
				placeholder="password" required>
			<label for="password">Password</label>
		</div>
		<!-- Action Buttons -->
		<div class="d-flex justify-content-between">
			<button class="btn btn-primary w-100 py-2" type="submit">Register</button>
			<a class="btn btn-secondary w-100 py-2" th:href="@{/users/login}">Login Screen</a>
		</div>
	</form>
	<div th:if="${error}">
		<p th:text="${error}"></p>
	</div>
</body>

</html>